<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- KNOWN ISSUE: https://github.com/chocolatey/choco/issues/877 -->
    <!-- <package id="Microsoft-Hyper-V-All" source="windowsfeatures" /> -->
    <package id="7zip" />
    <package id="bitvise-ssh-client" />
    <package id="git" />
    <package id="github-desktop" />
    <package id="googlechrome" />
    <package id="greenshot" />
    <package id="keepass" />
    <package id="lastpass" />
    <package id="lastpass-chrome" />
    <package id="azure-cli" />
    <package id="microsoftazurestorageexplorer" />
    <package id="microsoft-teams" />
    <package id="vscode" />
    <package id="mremoteng" />
    <package id="nodejs" />
    <package id="powershell-core" />
    <package id="save-to-pocket-chrome" />
    <package id="windirstat" />
    <package id="zoomit" />
    <package id="azure-data-studio" />
    <package id="dotnetcore-sdk" />
    <package id="terraform" />
    <package id="paint.net" />
    <package id="heidisql" />
    <package id="putty.install" />
    <package id="postman" />
<!--
    <package id="" />
    <package id="" />
    <package id="" />
    <package id="" />
    <package id="apackage" />
    <package id="anotherPackage" version="1.1" />
    <package id="chocolateytestpackage" version="0.1" source="somelocation" />
    <package id="alloptions" version="0.1.1"
            source="https://somewhere/api/v2/" installArguments=""
            packageParameters="" forceX86="false" allowMultipleVersions="false"
            ignoreDependencies="false"
            />
-->
</packages>
